<div class="flex flex-col justify-center items-center space-y-4">
  <strong>Selectionner votre fichier pour encrypter</strong>
  <h1 class="text-2xl">Algorithme De Caesar</h1>

  <ng-container *ngIf="fileStatus.status==='progress'">
    <div class="w-full bg-gray-200 rounded-full dark:bg-gray-700">
      <div
        class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full"
        [style.width.%]="fileStatus.percent"
      >
        {{ fileStatus.requestType }} {{ fileStatus.percent }}%
      </div>
    </div>
  </ng-container>

  <form enctype="multipart/form-data">
    <div>
      <input
        type="file"
        (change)="onUploadFiles($event, Algorithm.CAESEAR_CIPHER, shift)"
        name="files"
        multiple
        class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
      />

      <div class="mb-6">
        <label
          for="default-input"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Donner la valeur de N</label
        >
        <input
          type="number"
          name="shift"
          [(ngModel)]="shift"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
    </div>
  </form>

  <ng-container *ngIf="caesarText">
    <div class="flex flex-col space-y-2">
      <div class="flex flex-row space-x-2">
        <h1 class="text-2xl text-green-600">Votre text encrypte:</h1>
        <p class="text-2xl">{{ caesarText }}</p>
      </div>

      <button
        class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
        (click)="decrypt(Algorithm.CAESEAR_CIPHER)"
      >
        Decrypter
      </button>
    </div>
  </ng-container>

  <!-- <div *ngIf="filenames?.length > 0" class="js-upload-finished">
      <h3>Processed files</h3>
      <div *ngFor="let filename of filenames" class="list-group">
        <a
          (click)="onDownloadFile(filename)"
          class="list-group-item list-group-item-success"
          style="cursor: pointer"
        >
          {{ filename }}
          <a class="alert-success float-right">Download</a> </a
        ><br />
      </div>
    </div> -->
</div>

<div class="flex flex-col items-center justify-center space-y-4">
  <h1 class="text-2xl">Algorithme De Caesar Polyalphabetique</h1>

  <form enctype="multipart/form-data">
    <div>
      <input
        type="file"
        (change)="onUploadFiles($event, Algorithm.CAESAR_CIPHER_POLYALPHABETIC, undefined, key)"
        name="files"
        multiple
        class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
      />

      <div class="mb-6">
        <label class="block mb-2 text-sm font-medium text-gray-900"
          >Donner la valeur de votre cle</label
        >
        <input
          type="text"
          name="key"
          [(ngModel)]="key"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
    </div>
  </form>

  <br />

  <ng-container *ngIf="polyalphabeticText">
    <div class="flex flex-col space-y-2">
      <div class="flex flex-row space-x-2">
        <h1 class="text-2xl text-green-600">Votre text encrypte:</h1>
        <p class="text-2xl">{{ polyalphabeticText }}</p>
      </div>

      <button
        class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
        (click)="decrypt(Algorithm.CAESAR_CIPHER_POLYALPHABETIC)"
      >
        Decrypter
      </button>
    </div>
  </ng-container>
</div>

<div class="flex flex-col items-center justify-center space-y-4">
  <h1 class="text-2xl">Algorithme De Remplacement</h1>

  <form enctype="multipart/form-data">
    <div>
      <input
        type="file"
        (change)="onUploadFiles($event, Algorithm.REPLACEMENT)"
        name="files"
        multiple
        class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
      />
    </div>
  </form>

  <br />

  <ng-container *ngIf="replacementText">
    <div class="flex flex-col space-y-2">
      <div class="flex flex-row space-x-2">
        <h1 class="text-2xl text-green-600">Votre text encrypte:</h1>
        <p class="text-2xl">{{ replacementText }}</p>
      </div>
    </div>

    <button
      class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
      (click)="decrypt(Algorithm.REPLACEMENT)"
    >
      Decrypter
    </button>
  </ng-container>
</div>

<div class="flex flex-col items-center justify-center space-y-4">
  <h1 class="text-2xl">Algorithme De Transposition Par Colonne</h1>

  <form enctype="multipart/form-data">
    <div>
      <input
        type="file"
        (change)="onUploadFiles($event, Algorithm.COLUMN_TRANSPOSITION, undefined, columnTranspositionKey)"
        name="files"
        multiple
        class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
      />
    </div>

    <div class="mb-6">
      <label class="block mb-2 text-sm font-medium text-gray-900"
        >Donner la valeur de votre cle</label
      >
      <input
        type="text"
        name="columnTranspositionKey"
        [(ngModel)]="columnTranspositionKey"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
    </div>
  </form>

  <br />

  <ng-container *ngIf="columnTranspositionText">
    <div class="flex flex-col space-y-2">
      <div class="flex flex-row space-x-2">
        <h1 class="text-2xl text-green-600">Votre text encrypte:</h1>
        <p class="text-2xl">{{ columnTranspositionText }}</p>
      </div>
    </div>

    <button
      class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
      (click)="decrypt(Algorithm.COLUMN_TRANSPOSITION)"
    >
      Decrypter
    </button>
  </ng-container>
</div>

<div class="flex flex-col items-center justify-center space-y-4">
  <h1 class="text-2xl">Algorithme De DES</h1>

  <form enctype="multipart/form-data">
    <div>
      <input
        type="file"
        (change)="onUploadFiles($event, Algorithm.DES, undefined, undefined)"
        name="files"
        multiple
        class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
      />
    </div>
  </form>

  <br />

  <ng-container *ngIf="desText">
    <div class="flex flex-col space-y-2">
      <div class="flex flex-row space-x-2">
        <h1 class="text-2xl text-green-600">Votre text encrypte:</h1>
        <p class="text-2xl">{{ desText }}</p>
      </div>
    </div>

    <button
      class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
      (click)="decrypt(Algorithm.DES)"
    >
      Decrypter
    </button>
  </ng-container>
</div>

<div class="flex flex-col items-center justify-center space-y-4">
  <h1 class="text-2xl">Algorithme De AES</h1>

  <form enctype="multipart/form-data">
    <div>
      <input
        type="file"
        (change)="onUploadFiles($event, Algorithm.AES, undefined, undefined)"
        name="files"
        multiple
        class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
      />
    </div>
  </form>

  <br />

  <ng-container *ngIf="aesText">
    <div class="flex flex-col space-y-2">
      <div class="flex flex-row space-x-2">
        <h1 class="text-2xl text-green-600">Votre text encrypte:</h1>
        <p class="text-2xl">{{ aesText }}</p>
      </div>
    </div>

    <button
      class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
      (click)="decrypt(Algorithm.AES)"
    >
      Decrypter
    </button>
  </ng-container>
</div>

<div class="flex flex-col items-center justify-center space-y-4">
  <h1 class="text-2xl">Algorithme De RSA</h1>

  <form enctype="multipart/form-data">
    <div>
      <input
        type="file"
        (change)="onUploadFiles($event, Algorithm.RSA, undefined, undefined)"
        name="files"
        multiple
        class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
      />
    </div>
  </form>

  <br />

  <ng-container *ngIf="rsaText">
    <div class="flex flex-col space-y-2">
      <div class="flex flex-row space-x-2">
        <h1 class="text-2xl text-green-600">Votre text encrypte:</h1>
        <p class="text-2xl">{{ rsaText }}</p>
      </div>
    </div>

    <button
      class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
      (click)="decrypt(Algorithm.RSA)"
    >
      Decrypter
    </button>
  </ng-container>
</div>
